/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
.MuiTypography-root, .modal-modal-description {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgb(0 0 0 / 60%);
}

.modal_wrapper {
  max-width: 350px;
  min-width: 350px;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 20px;
}

.modal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.modal_text {
  font-size: 17px;
  line-height: 1.4;
  text-align: center;
}

.modal_text li {
  list-style: none;
  padding-bottom: 5px;
}

.modal_btn {
  margin: 17px auto 0;
}



.modal_link {
  margin-top: 20px;
  text-decoration: none;
}

.modal_link a {
  cursor: pointer;
}