/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.quiz {
  margin: 0 auto;
  max-width: 1200px;
}

.quiz_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  background-color: #fff;
}

.quiz_header_content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quiz_score>* {
  margin-bottom: 5px;
}

.quiz_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.quiz_info h1 {
  position: absolute;
  width: 200px;
  left: -9%;
  -webkit-filter: drop-shadow(var(--shadow));
  filter: drop-shadow(var(--shadow));
}

.quiz_logo {
  width: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .quiz_logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.quiz_content {
  margin-top: 150px;
  padding: 0 10px;
}

.quiz_question {
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  padding: 20px;
  margin: 10px 0;
}

.quiz_question h2 {
  line-height: 1.4;
  font-size: 17px;
  padding: 0 0 10px;
  width: 100%;
}

.codeContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  box-shadow: var(--lightShadow);
  margin-bottom: 20px;
}

.quiz_code {
  padding: 10px;
  margin: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.quiz_code p {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.quiz_answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 5px 0;
}

.quiz_answerBtn {
  width: 350px;
  max-width: 500px;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  margin: 5px auto;
  padding: 15px 10px;
  font-size: 15px;
}

.quiz_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px;
}

.quiz_validateBtn {
  font-size: 17px;
  padding: 25px 60px;
}

/* responsive */
@media screen and (min-width: 300px) {
  .codeContainer {
    min-width: 295px;
  }

  .quiz_answerBtn {
    max-width: 310px;
  }
}

@media screen and (min-width: 420px) {
  .codeContainer {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 590px) {
  .quiz_answerBtn {
    min-width: 525px;
    max-width: 710px;
  }
}