.quiz_preloader {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz_preloader img {
    position: static;
    width: 200px;
    height: 200px;

}

.preloader_blink {
    animation: blink 1.1s step-start 0s infinite;
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.3;
    }
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}