@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #f00;
  --green: #008000;
  --darkBlue: #00008b;
}

/* GENERALS */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.danger {
  color: var(--red);
}

.green {
  color: var(--green);
}

/* HOMEPAGE */

.home_logo {
  width: 12rem;
  height: 12rem;
  pointer-events: none;
  filter: drop-shadow(1px 2px 1px #4444ddc7);

}

/* QUIZ */

.quiz_code {
  padding: 10px;
  margin: 10px;
  width: max-content;
}

.quiz_logo {
  position: absolute;
  left: 1rem;
  z-index: -1;
  width: 80px;
  height: 80px;
  pointer-events: none;
  filter: drop-shadow(1px 2px 1px #4444ddc7);

}

.quiz_title {
  position: relative;
  left: 5.3rem;
  color: #00d8ff;
  filter: drop-shadow(1px 2px 1px #4444ddc7);

}

/* MEDIA */

@media (prefers-reduced-motion: no-preference) {
  .home_logo, .quiz_logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}