:root {
  --lightShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --red: #f00;
  --green: #008000;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #242424;
}
.danger {
  color: var(--red);
}
.green {
  color: var(--green);
}
